 @import url(*https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap*);

 * {
     margin: 0;
     padding: 0;
     list-style-type: none;
     -webkit-tap-highlight-color: transparent;
     text-decoration: none;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 body {
     background: #eaeaea;
 }
 ::selection{
    background: yellow;
    color: black;
 }
::-webkit-scrollbar{
    width: 15px;
    background: white;
}
::-webkit-scrollbar-thumb{
    background: yellow;
}
 .header {
     position: sticky;
     top: 0;
     width: 100%;
     padding: 10px;
     background: transparent;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
     background: rgba(255, 255, 255, 0.3);
     -webkit-backdrop-filter: blur(60px);
     background: rgba(red, green, blue, alpha);
     box-shadow: 0px -20px 30px black;
 }
.mobile-navbar{
    display: none;
}
 .navbar a {

     font-size: 18px;
     color: #222;
     text-decoration: none;
     font-weight: 500;
     margin: 0 20px;
     transition: .3s;
     /* animation: slideTop 1s ease forwards; */
     animation-delay: calc(.2s * var(--i));
 }

 .navbar a:hover,
 .navbar a.active {
     color: rgb(245, 217, 76);
 }

 .social-media {
     display: flex;
     justify-content: space-between;
     width: 150px;
     align-items: center;
     height: 40px;

 }

 .social-media a {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 40px;
     height: 40px;
     background: transparent;
     border: 2px solid transparent;
     text-decoration: none;
     transform: rotate(45deg);
     transition: .5s;
 }

 .social-media a i {
     font-size: 24px;
     color: #000;
     transform: rotate(-45deg);
 }

 .social-media a:hover {
     border-color: #f5d94c;
 }

 .home {
     position: relative;
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 50px 8% 0;
     overflow: hidden;
     max-width: 1600px;
     margin: auto;
 }

 .home-content {
     max-width: 350px;
 }

 .home-content h1 {
     font-size: 50px;
     line-height: 1;
 }

 .home-content h3 {
     font-size: 40px;
     color: rgb(245, 217, 76);
 }

 .home-content p {

     margin: 15px 0 30px;
 }

 .btn {
     padding: 10px 20px;
     outline: none;
     border-radius: 6px;
     font-size: 16px;
     background: rgb(245, 217, 76);
     box-shadow: 12px 10px 1px black;
     border: 1px solid rgba(0, 0, 0.6);
     transition: .3s ease-in-out;
 }

 .btn:hover {
    box-shadow: 13px -10px 1px black;
    cursor: pointer;
 }

 .home-img {
     position: relative;
     right: -7%;
     width: 450px;
     height: 450px;
     transform: rotate(45deg);

 }

 .home-img .rhombus {
     position: absolute;
     width: 450px;
     height: 450px;
     background: #eaeaea;
     border: 25px solid rgb(245, 217, 76);
     box-shadow: -5px 15px 15px rgba(0, 0, 0, 0.6);
 }

 .home-img .rhombus img {
     position: absolute;
     top: 30%;
     left: -150px;
     max-width: 850px;
     transform: rotate(-45deg);
     opacity: 0;
     animation: car 1s ease forwards;
     animation-delay: 2s;
 }

 .home .rhombus2 {
     position: absolute;
     top: -25%;
     right: -25%;
     width: 700px;
     height: 700px;
     background: rgb(245, 217, 76);
     transform: rotate(45deg);
     z-index: -1;
 }

 @keyframes slideRight {
     0% {
         transform: translateX(-100px);
         opacity: 0;
     }

     100% {
         transform: translateX(-100px);
         opacity: 1;
     }
 }

 @keyframes slideTop {
     0% {
         transform: translateY(-100px);
         opacity: 0;
     }

     100% {
         transform: translateY(-100px);
         opacity: 1;
     }
 }

 @keyframes zoomOut {
     0% {
         transform: scale(1.1);
         opacity: 0;
     }

     100% {
         transform: scale(1);
         opacity: 1;
     }
 }

 @keyframes car {
     0% {
         transform: translate(300px, -300px) scale(0) rotate(-45deg);
         opacity: 0;
     }

     100% {
         transform: translate(0, 0) scale(1) rotate(-45deg);
         opacity: 1;
     }
 }

 /* media queries */
 @media(max-width:760px) {
     .navbar {
        background: white;
        opacity: 0;
        color: black;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        z-index: 9999;
        height: 100vh;
        top: 0;
        padding: 0;
        margin: 0;
     }
     .navbar.show {
        opacity: 1;
    }
     .navbar a{
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .mobile-navbar{
        display: block;
        font-size: 35px;
        cursor: pointer;
        z-index: 999;
    }
 }
 @media(max-width:450px){
    .home{
        display: block;
    }
    .home-img .rhombus img {
        top: 30%;
        left: -60px;
        max-width: 450px;
    }
    .home-img .rhombus {
        width: 350px;
        height: 350px;
        top: 25px;
        background: #eaeaea;
        border: 25px solid rgb(245, 217, 76);
        box-shadow: -5px 15px 15px rgba(0, 0, 0, 0.6);
    }
    .home-content h3{
        color: #000;
    }
    .home-content p{
        font-weight: 500;
    }
 }