 @import url(*https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap*);

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 body{
    background: #eaeaea;
 }

 .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
 }

 .logo {
    font-size: 25px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation:slideRight 1s ease forwards;
 }

 .navbar a {
    
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
 }

 .navbar a:hover,
 .navbar a.active {
    color: rgb(245, 217, 76);
 }

.social-media{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
     
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
}

.social-media a:hover{
    border-color:#eaeaea;
}

.social-media a i {
    font-size: 24px;
    color:#eaeaea;
    transform: rotate(-45deg);
}

.home {
    position: relative;
    width: 100;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.home-content {
    max-width: 350px;
}

.home-content h1{
    font-size: 50px;
    line-height: 1.2;
}

.home-content h3{
    font-size: 40px;
    color:  rgb(245, 217, 76);
}

.home-content p {
    
    margin: 15px 0 30px;
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    background: rgb(245, 217, 76);
    border: 2px solid rgb(245, 217, 76);
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0, 0, 1);
    font-size: 16px;
    color: #070707;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .4s;
}

.btn:hover {
    background: transparent;
    color: rgb(7, 7, 7);
}

.home-img {
    position: relative;
    right: -7%;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);

}

.home-img .rhombus {
    position: absolute;
    width: 450px;
    height: 450px;
    background: #eaeaea;
    border: 25px solid rgb(245, 217, 76);
    box-shadow: -15px 15px 15px rgb(0, 0, 1);
}

.home-img .rhombus img{
    position: absolute;
    top: 110px;
    left: -250px;
    max-width: 750px;
    transform: rotate(-45deg);
    opacity: 0;
    animation: car 1s ease forwards ;
    animation-delay: 2s;
}

.home .rhombus2 {
    position: absolute;
    top: -25%;
    right: -25%;
    width: 700px;
    height: 700px;
    background: rgb(245, 217, 76);
    transform: rotate(45deg);
    z-index: -1;
}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(-100px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(-100px);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0%{
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes car {
    0%{
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}